body {
    background-color: #686567;
    color: #333333;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;

}
form{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

h1, h3{
    color: #00eeda;
    text-align: center;
}
ul {
    list-style-type: square;
    padding-left: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.img-formulario {
    display: block;
    margin: 20px auto;
    width: 300px;

}

